Basics - Sorting

In [ ]:
listb = [1,2,6,4,43,2,77,889,19,5,613,65,0,-21]
print(lista)

[0, -21, 1, 2, 6, 4, 43, 2, 77, 889, 19, 5, 613, 65]

##Selection Sort

In [ ]:
"""
Insertion Sort
select minimums
step 1: look at the array -> find minimum -> swap with the first one
step 2: find minimum of the of the array without first one
step 3: find the minimum of the array without first and second one



"""

'\nInsertion Sort\nselect minimums \nstep 1: look at the array -> find minimum -> swap with the first one\nstep 2: find minimum of the of the array without first one\nstep 3: find the minimum of the array without first and second one\n\n\n\n'

In [ ]:
def selection_sort(lista):
  n = len(lista);
  for i in range(n):
    min_idx = i;

    for j in range(i+1,n):
      if lista[min_idx] > lista[j]:
        min_idx = j;
    lista[i],lista[min_idx] = lista[min_idx],lista[i]

  return lista

In [ ]:
selection_sort(listb)

[-21, 0, 1, 2, 2, 4, 5, 6, 19, 43, 65, 77, 613, 889]

## Bubble Sort

In [ ]:
"""
Pushes the largest one to last by adjacent swaps
"""

'\nPushes the largest one to last by adjacent swaps\n'

In [ ]:
def bubble_sort(arr):
  n = len(arr)
  for i in range(n):

    for j in range(n-i-1):
      if arr[j] > arr[j+1]:
        arr[j],arr[j+1] = arr[j+1],arr[j]
  return arr

In [ ]:
bubble_sort(listb)

[-21, 0, 1, 2, 2, 4, 5, 6, 19, 43, 65, 77, 613, 889]

## Insertion Sort

In [ ]:
"""
takes an element and places it in correct position

"""

'\ntakes an element and places it in correct position\n\n'

In [ ]:
def insertion_sort(arr):
  n = len(arr);
  for i in range(1,n):
    for j in range(i,0,-1):
      if arr[j] <= arr[j-1]:
        arr[j],arr[j-1] = arr[j-1],arr[j]

  return arr

In [ ]:
insertion_sort(listb)

[-21, 0, 1, 2, 2, 4, 5, 6, 19, 43, 65, 77, 613, 889]

## Merge Sort

In [ ]:
"""
Merging the subarrays
time complexity - O(nlogn)

Algorithm  - recursive algo
divide and merge

"""

'\nMerging the subarrays\ntime complexity - O(nlogn)\n\nAlgorithm  - recursive algo\n\n'

In [ ]:
listb = [1,2,6,4,43,2,77,889,19,5,613,65,0,-21]
lista = [1,2,6,4,43,2,77,889,19,5,613,0,-21]
listc = [1,5,8,2,0]

In [ ]:
# for 13 -> left = 0; right = 12 -> mid = 6 -> first substring should be 7 and second should be 6
# for 12 -> left =0 ; right = 11 -> mid = 5 -> substrings -> 6 and 6

In [ ]:
def merge(arr,left,mid,right):
  n1 = mid - left + 1 # first substring length
  n2 = right - mid # second substring length
  # here left mid and right are pointers hence counting is little confusing
  #create empty arrays L and R
  L = [0]*n1; R = [0]*n2;
  # fill the subarrays with original array elements
  for i in range(n1):
    L[i] = arr[left+i]
  for j in range(n2):
    R[j] = arr[mid + 1+ j]
 # initiating the indexes i , j and k for L,R and arr respectively
  i =0 ; j = 0; k = left;
  while i < n1 and j < n2 :
    if L[i] <= R[j] :
      arr[k] = L[i];
      k += 1; i += 1;
    else :
      arr[k] = R [j];
      k += 1; j += 1;
  while i < n1 :
    arr[k] = L[i];
    k += 1; i += 1;
  while j < n2 :
    arr[k] = R[j];
    k += 1; j += 1;

def merge_sort(arr,left,right):
  if left < right:
    mid = (left + right)//2
    merge_sort(arr,left,mid);
    merge_sort(arr,mid+1,right);
    merge(arr,left,mid,right)

In [ ]:
 print(listb)
 merge_sort(listb, 0, len(listb) - 1)
 print(listb)

[1, 2, 6, 4, 43, 2, 77, 889, 19, 5, 613, 65, 0, -21]
[-21, 0, 1, 2, 2, 4, 5, 6, 19, 43, 65, 77, 613, 889]

## Quick Sort

In [ ]:
# similar to merge sort but does not use extra space
# pivot - > any element
def partition(arr,l,h):
  pivot = arr[l];
  # i is the
  i = l - 1; # why ??
  j = h + 1;
  while (True):
    i += 1;
    while (arr[i]< pivot):
      i += 1

    j -= 1;
    while (arr[j] > pivot):
      j -= 1;

    if i >= j:
      return j

    arr[i],arr[j] = arr[j],arr[i]


def quick_sort(arr,l,h):
  if l < h:
    pi = partition(arr,l,h);
    quick_sort(arr,l,pi-1);
    quick_sort(arr,pi+1,h);

In [ ]:
listb = [1,2,6,4,43,2,77,889,19,5,613,65,0,-21]
lista = [1,2,6,4,43,2,77,889,19,5,613,0,-21]
listc = [1,5,8,2,0]

In [ ]:
quick_sort(lista,0,len(lista)-1)

In [ ]:
lista

[-21, 0, 1, 2, 2, 4, 5, 6, 19, 77, 613, 43, 889]