"""
data types - int, float, str, list, dict, tup, set, bool
"""

# numbers

In [2]:
a = 3; b= 5;

In [3]:
print(a+b)

8

In [4]:
c= a+b;

In [5]:
print(c)

8

In [6]:
b= 8;

In [7]:
print(c)

8

mod operator

In [8]:
7/4

1.75

In [9]:
7%4

3

In [10]:
7//4

1

In [11]:
7**2

49

In [12]:
7+2

9

In [13]:
7-2

5

# Strings

In [14]:
" Bhanu Pradeep is a nice guy"

' Bhanu Pradeep is a nice guy'

In [15]:
'Bhanu is also good in math'

'Bhanu is also good in math'

In [16]:
"""Bhanu loves going out
and bhanu has a great taste in music"""

'Bhanu loves going out\nand bhanu has a great taste in music'

In [17]:
my_name = "Bhanu Pradeep"

In [18]:
print(my_name)

Bhanu Pradeep

### String indexing and slicing

In [19]:
my_name[0]

'B'

In [20]:
my_name[5]

' '

In [21]:
my_name[-2]

'e'

In [22]:
my_name[3:7]

'nu P'

slicing - string[ Start : Stop : Step]

In [26]:
my_name[::-1]

'peedarP unahB'

In [27]:
"\n"

'\n'

In [28]:
print("bhanu \n pradeep")

bhanu
 pradeep

In [29]:
len(my_name)

13

In [31]:
my_name + ' the boss' #concatenate

'Bhanu Pradeep the boss'

In [33]:
my_name[3] = 'o'
# strings are immutable

TypeError: 'str' object does not support item assignment

In [36]:
sub = my_name + " has got great ri" +"z"*6

In [37]:
sub.split()

['Bhanu', 'Pradeep', 'has', 'got', 'great', 'rizzzzzz']

In [42]:
sub.split('a')

['Bh', 'nu Pr', 'deep h', 's got gre', 't rizzzzzz']

In [44]:
sub.split('a',1)
#how to find the domain name from the email - split @,1

['Bh', 'nu Pradeep has got great rizzzzzz']

# Lists

In [63]:
my_list = sub.split()

In [46]:
my_list

['Bhanu', 'Pradeep', 'has', 'got', 'great', 'rizzzzzz']

In [47]:
my_list[0]

'Bhanu'

In [48]:
my_list[4]

'great'

In [49]:
my_list[4] = 'goooood'
#lists are mutable

In [50]:
my_list

['Bhanu', 'Pradeep', 'has', 'got', 'goooood', 'rizzzzzz']

In [51]:
my_list.append('also')

In [52]:
my_list

['Bhanu', 'Pradeep', 'has', 'got', 'goooood', 'rizzzzzz', 'also']

In [53]:
my_list.pop()

'also'

In [54]:
my_list

['Bhanu', 'Pradeep', 'has', 'got', 'goooood', 'rizzzzzz']

In [56]:
new_str = 'And also he is very intelligent'
new_list = new_str.split()
new_list

['And', 'also', 'he', 'is', 'very', 'intelligent']

In [57]:
my_list + new_list
#list concatenation

['Bhanu',
 'Pradeep',
 'has',
 'got',
 'goooood',
 'rizzzzzz',
 'And',
 'also',
 'he',
 'is',
 'very',
 'intelligent']

In [58]:
len(my_list)

6

In [59]:
my_list.insert(4,'really')

In [60]:
my_list

['Bhanu', 'Pradeep', 'has', 'got', 'really', 'goooood', 'rizzzzzz']

In [61]:
my_list.sort() # .sort does inplace sorting in the lists

In [62]:
my_list

['Bhanu', 'Pradeep', 'goooood', 'got', 'has', 'really', 'rizzzzzz']

In [64]:
my_list #original one

['Bhanu', 'Pradeep', 'has', 'got', 'great', 'rizzzzzz']

# Dictonaries

Unordered storing of objects $

key - value pairs

{'key1':'value1','key2':'value2'}

hashed storage
no slicing, no sorting, no indexing

In [65]:
dicta = dict()

In [66]:
dicta

{}

In [67]:
dicta = {'maths':95,'social':80,'science':100,'english':85}

In [68]:
dicta

{'maths': 95, 'social': 80, 'science': 100, 'english': 85}

In [69]:
dicta['maths']

95

In [71]:
dicta.keys()

dict_keys(['maths', 'social', 'science', 'english'])

In [72]:
type(dicta)

dict

In [73]:
(type(dicta) == dict)

True

In [74]:
dicta['telugu'] = 98

In [75]:
dicta

{'maths': 95, 'social': 80, 'science': 100, 'english': 85, 'telugu': 98}

In [76]:
dicta.items()

dict_items([('maths', 95), ('social', 80), ('science', 100), ('english', 85), ('telugu', 98)])

In [80]:
dict1 = {
    'class': 
        {'student': 
             {'name': 'Henry',
               'marks': 
                  {'Science': 70,
                   'Maths': 80
                  }
             }
        }
}

In [81]:
dict1['class']['student']['marks']['Maths']

80

# Tuples

Immutable
similar to lists but ( instead of [
    main methods - index and count
    ]

In [84]:
my_tuple = tuple()

In [85]:
my_tuple

()

In [86]:
my_tuple = (1,2,3,4,65)

In [87]:
my_tuple

(1, 2, 3, 4, 65)

In [88]:
my_tuple[0]

1

In [90]:
my_tuple[3] = 10

TypeError: 'tuple' object does not support item assignment

# Sets

Unordered collection of unique objects
{ }
unique values

In [91]:
myset = set()

In [92]:
myset.add(5)

In [95]:
myset

{5, 20}

In [94]:
myset.add(20)

# Booleans

True or False

Comparision or Logical operations

<, >, >=, ==, <=, !=
( )

# Logical Operators

And Or Not keywords

In [97]:
if (1>2) or (2<3):
    print('pass')
else :
    print('fail')

pass

In [98]:
if (1>2) and (2<3):
    print('pass')
else :
    print('fail')

fail

In [99]:
if not (1>2):
    print('pass')

pass